body {
    background-image: url('../assets/images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  .btn-primary { 
    color: #E84A5F;
    border-color: #E84A5F;
    border-radius: 5px;
    background-color: transparent;
  }